/* your code */
table,th,td{
    border-collapse: collapse;
    border: 2px solid grey;
}
th{
    background-color: burlywood;
}
tbody{
    background-color: khaki;
}
table{
    width: 50%;

}
tr:hover{
    height: 40px;
    background-color: bisque;

}
td{
    text-align: center;
}
